# freeproxy

|CountryCode|Country|SS|SSR|Vmess|Total|
|  ----  | ----  |  ----  | ----  |  ----  | ----  |
{{- range .Items }}
|{{.CountryEmoji}} {{.CountryCode}}|{{.Country}}|{{index .ProxyTypeMap "ss"}}|{{index .ProxyTypeMap "ssr"}}|{{index .ProxyTypeMap "vmess"}}|{{.Total}}|
{{- end }}
||Total|{{index .TotalProxyTypeMap "ss"}}|{{index .TotalProxyTypeMap "ssr"}}|{{index .TotalProxyTypeMap "vmess"}}|{{.Total}}|
